*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

header {
  z-index: 999;
  width: 100%;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
}
header .header-container {
  max-width: 1312px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 48px;
  padding: 0 1.5rem;
}
header .header-container .l-h {
  font-size: 1.5rem;
  font-weight: bold;
}
header .header-container .r-h {
  font-size: 1.2rem;
}
header .header-container .r-h a {
  padding-left: 1rem;
  text-align: center;
}
header .header-container .r-h a:last-child {
  margin-left: 1rem;
  padding: 6px 1rem;
  border-radius: 20px;
  background-color: #0090d3;
}
@media screen and (max-width: 767px) {
  header .header-container .r-h a:nth-of-type(1),
header .header-container .r-h a:nth-of-type(2) {
    display: none;
  }
}

section.first {
  background-color: rgb(235, 235, 235);
  padding: 100px 0;
}
@media screen and (max-width: 767px) {
  section.first {
    padding: 50px 0;
  }
}
section.first .airpods-container {
  max-width: 1312px;
  margin: 0 auto;
  width: 100%;
}
section.first .airpods-container h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
section.first .airpods-container p {
  margin: 0 auto;
  width: 80%;
  text-align: justify;
  font-size: 1.75rem;
  font-color: #cccccc;
}
section.first .airpods-container p span {
  vertical-align: super;
  font-size: 0.8rem;
}
@media screen and (max-width: 767px) {
  section.first .airpods-container h1 {
    font-size: 2.5rem;
  }
  section.first .airpods-container p {
    width: 90%;
    font-size: 1.3rem;
  }
  section.first .airpods-container p span {
    font-size: 0.7rem;
  }
}
section.first .airpods-container .product-img {
  width: 100%;
  display: flex;
  margin: 50px auto;
  justify-content: center;
}
section.first .airpods-container .product-img .l-air,
section.first .airpods-container .product-img .r-air {
  max-width: 45%;
}
section.first .airpods-container .product-img .l-air img,
section.first .airpods-container .product-img .r-air img {
  height: 900px;
}
@media screen and (max-width: 767px) {
  section.first .airpods-container .product-img .l-air img,
section.first .airpods-container .product-img .r-air img {
    height: 400px;
  }
}
section.first .airpods-container .product-img .l-air {
  margin-right: 50px;
}
@media screen and (max-width: 767px) {
  section.first .airpods-container .product-img .l-air {
    margin-right: 15px;
  }
}
section.first .airpods-container .product-img .l-air img {
  -webkit-animation: move 2s forwards infinite alternate;
          animation: move 2s forwards infinite alternate;
}
section.first .airpods-container .product-img .r-air {
  margin-left: 50px;
}
@media screen and (max-width: 767px) {
  section.first .airpods-container .product-img .r-air {
    margin-right: 15px;
  }
}
section.first .airpods-container .product-img .r-air img {
  -webkit-animation: move 2s forwards infinite alternate 2s;
          animation: move 2s forwards infinite alternate 2s;
}
@-webkit-keyframes move {
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}
@keyframes move {
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

section.second {
  padding: 100px 0;
}
section.second .container {
  max-width: 1312px;
  margin: 0 auto;
  width: 100%;
}
section.second .container h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  section.second .container h1 {
    font-size: 2.5rem;
  }
}
section.second .container p.prod-descri {
  margin: 0 auto;
  width: 80%;
  text-align: justify;
  font-size: 1.75rem;
  font-color: #cccccc;
}
section.second .container p.prod-descri span {
  vertical-align: super;
  font-size: 0.8rem;
}
@media screen and (max-width: 767px) {
  section.second .container p.prod-descri {
    width: 90%;
    font-size: 1.3rem;
  }
  section.second .container p.prod-descri span {
    font-size: 0.7rem;
  }
}
section.second .container .characters-container {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (max-width: 767px) {
  section.second .container .characters-container {
    padding: 30px 0;
  }
}
section.second .container .characters-container div {
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  -webkit-column-gap: 4rem;
     -moz-column-gap: 4rem;
          column-gap: 4rem;
}
section.second .container .characters-container div h2 {
  margin: 0;
  font-size: 3rem;
}
section.second .container .characters-container div h2 span {
  font-size: 1.5rem;
}
section.second .container .characters-container div p {
  margin: 8px 0;
  text-align: center;
}
section.second .container .product-container {
  width: 100%;
}
section.second .container .product-container .container-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
section.second .container .product-container .container-img img {
  height: 300px;
  -webkit-animation: move 2s forwards infinite alternate;
          animation: move 2s forwards infinite alternate;
}
@media screen and (max-width: 767px) {
  section.second .container .product-container .container-img img {
    height: 200px;
  }
}
@keyframes move {
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
}/*# sourceMappingURL=style.css.map */